* {
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: beige;
    max-width: 90%;
    /* Website soll nie kleiner als 90% der Gesamtseite sein */
    margin: 0 auto;
    /* Außenabstand 0 oben/unten und auto rechts/links (heißt Mitte)*/
}

#logo {
    width: 5rem;
    float: left;
}

#title {
    text-align: center;
}

#navigation {
    text-align: center;
}

#navigation a {
    color: blue;
    text-decoration: none;
    margin: 0.2rem;
}

a:hover {
    background-color: orange;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    text-align: center;
    border-style: double;
    border-radius: 0.5rem;
    font-size: 2rem;
}

#map {
    margin-top: 2rem;
    height: 30rem;
}

.my-div-icon {
    background: red;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: darkblue;
}







