* {
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: beige;
    max-width: 90%;
    /* Website soll nie kleiner als 90% der Gesamtseite sein */
    margin: 0 auto;
    /* Außenabstand 0 oben/unten und auto rechts/links (heißt Mitte)*/
}

#logo {
    width: 5rem;
    display: block;
    margin: 0 auto;
}

#navigation {
    text-align: center;
}

#navigation a {
    color: blue;
    text-decoration: none;
    margin: 0.2rem;
}

a:hover {
    background-color: orange;
    color: beige;
}

h1 {
    text-align: center;
    font-size: 2rem;
    border-style: double;
    border-radius: 0.5rem;
}

.image {
    width: 100%;
    margin-bottom: 0.5rem;
}

#content-bottom {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

#content-outer {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

.content-inner {
    flex-basis: 50%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}

.big {
    margin-bottom: 0rem;
}

.small {
    display: none;
}

.flex-three {
    flex-basis: 30%;
    margin: 1.5rem;
}

h2 {
    text-align: center;
    border-style: double;
    border-radius: 0.5rem;
    font-size: 2rem;
}

#witze {
    margin: 1rem;
    text-align: left;
}

.witz {
    border-color: red;
    border-style: dotted;
    border-radius: 0.2rem;
    font-size: larger;
}

@media (max-width: 50rem) {
    
    .content-inner {
        margin: 1rem;
    }
    
    .small {
        display: flex;

    }
    .big {
        display: none;
    }
    
    .flex-three {
        margin: 1rem;
    }
}

@media (max-width: 40rem) {
    #content-outer {
        display: block;
        font-size: medium;
    }
    .small {
        margin-top: 0rem;
        margin-bottom: 1.5rem;
    }
    #content-bottom {
        display: block;
        font-size: medium;
    }
    .witz {
        font-size: medium;
    }
    .flex-three {
        margin-bottom: 1.5rem;
    }
}