* {
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: beige;
    max-width: 90%;
    /* Website soll nie kleiner als 90% der Gesamtseite sein */
    margin: 0 auto;
    /* Außenabstand 0 oben/unten und auto rechts/links (heißt Mitte)*/
}

#logo {
    width: 5rem;
    display: block;
    margin: 0 auto;
}

#navigation {
    text-align: center;
}

#navigation a {
    color: blue;
    text-decoration: none;
    margin: 0.2rem;
}

a:hover {
    background-color: orange;
    color: beige;
}

h1 {
    text-align: center;
    font-size: 2rem;
    border-style: double;
    border-radius: 0.5rem;
}

.accordion {
    text-align: left;
    margin-top: 5rem;
    font-size: larger;
}

.accordion-element {
    display: block;
    padding: 1rem;
}

.accordion-content {
    display: none;
    height: 0rem;
    border-color: rgb(49, 212, 62);
    border-style: solid;
    border-radius: 0.2rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    cursor: default;
}

.accordion-content-2 {
    display: none;
    height: 0rem;
    border-color: rgb(49, 212, 62);
    border-style: solid;
    border-radius: 0.2rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    cursor: default;
}

.accordion-heading {
    cursor: pointer;
}

.accordion-content-3 {
    display: none;
}

.accordion-element.accordion-element-active .accordion-content {
    display: block;
    height: auto;
}

.accordion-element.accordion-element-active .accordion-content-2 {
    display: block;
    height: auto;
}

.accordion-element.accordion-element-active .accordion-heading {
    font-weight: bold;
}

@media (max-width: 50rem) {
    .accordion-content-3 {
        border-color: rgb(49, 212, 62);
        border-style: solid;
        border-radius: 0.2rem;
        margin-top: 1.5rem;
        padding: 0.5rem;
    }
    .accordion-element.accordion-element-active .accordion-content-3 {
        display: block;
        height: auto;
    }
    .accordion-content-2 {
        display: none;
        height: 0rem;
    }
    .accordion-element.accordion-element-active .accordion-content-2 {
        display: none;
        height: 0rem;
    }
}

@media (max-width: 40rem) {
    body {
        background-color: yellowgreen;
        font-size: medium;
    }
    #navigation a {
        color: rgb(9, 109, 190);
    }
    .accordion-content {
        border-color: rgb(9, 109, 190);
    }
    .accordion-content-3 {
        border-color: rgb(9, 109, 190);
    }
}